config.php
config2.php
admin.php
_connect.php
dealers/material/*
Thumbs.db
.project
.DS_Store
.htaccess
.htpasswd

log/*
news/*
pics/*
poster/*
transfer/*
uploads/*


# images #
images/*
*.tif
*.tiff
*.png
*.gif
*.jpg
*.jpeg
*.pdf
